body {
  background-image: url("https://i.ibb.co/CbWtQXg/Screen-Shot-2021-03-09-at-12-50-05-PM.png");
  background-size: cover;
  font-size: 2em;
  margin: 0;
}

.game-screen {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 24em;
}

/*~~~~~Player 1 Side~~~~~*/

.player1-side {
  color: #CDCDCD;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%
}

.player1-emblem,
.player2-emblem {
  font-size: 169%;
}

/*~~~~Game Section~~~~~*/

.game-section {
  color: #363A3E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}

.current-turn {
  font-size: 169%;
}

.game-board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 78%;
  height: 16em;
}

/*~~~~~~~~~BOXES~~~~~~~~~*/


.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 32%;
  height: 33%;
  font-size: 342%;
}

.box:nth-child(1) {
  border-right: solid 2px #0F1AD8;
  border-bottom: solid 2px #0F1AD8;
}

.box:nth-child(2) {
  border-left: solid 2px #0F1AD8;
  border-right: solid 2px #0F1AD8;
  border-bottom: solid 2px #0F1AD8;
}

.box:nth-child(3){
  border-left: solid 2px #0F1AD8;
  border-bottom: solid 2px #0F1AD8;
}

.box:nth-child(4) {
  border-top: solid 2px #0F1AD8;
  border-right: solid 2px #0F1AD8;
  border-bottom: solid 2px #0F1AD8;
}

.box:nth-child(5) {
  border: solid 2px #0F1AD8;
}

.box:nth-child(6) {
  border-top: solid 2px #0F1AD8;
  border-left: solid 2px #0F1AD8;
  border-bottom: solid 2px #0F1AD8;
}

.box:nth-child(7) {
  border-top: solid 2px #0F1AD8;
  border-right: solid 2px #0F1AD8;
}

.box:nth-child(8) {
  border-top: solid 2px #0F1AD8;
  border-left: solid 2px #0F1AD8;
  border-right: solid 2px #0F1AD8;
}

.box:nth-child(9) {
  border-top: solid 2px #0F1AD8;
  border-left: solid 2px #0F1AD8;
}

/*~~~~~Player 2 Side~~~~~*/

.player2-side {
  color: #CDCDCD;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}
